<!DOCTYPE HTML>
<html class="no-js" lang="no">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Lightweight last.fm Radio</title>
        <link rel="stylesheet" href="/public/css/vendor/normalize.min.css">
        <link rel="stylesheet" href="/public/css/vendor/skeleton.min.css">
        <link rel="stylesheet" href="/public/css/style.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col six offset-by-three content">
                    <div class="row">
                        <div class="col three">
                            <img src="/public/img/player_default_album.png" alt="" class="artwork">
                        </div>
                        <div class="col nine">
                            <section class="text">
                                <p class="track"></p>
                                <p class="artist"></p>
                            </section>
                            <section class="controls">
                                <button class="play-pause"><b class="play">&#9654;</b><b class="pause hidden">&#9646;&#9646;</b></button>
                                <button class="next">&#9654;&#9654;</button>
                                <button class="love">&#10084;</button>
                            </section>
                        </div>
                    </div>
                    <section class="login">
                        <% if(user) { %>
                            Scrobbling as <b><%= user.name %></b>
                        <% }else{ %>
                            <a href="/auth/lastfm">Log in with lastfm to enable scrobbling</a>
                        <% } %>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>
